<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="argeo-commons-upstream">
	<locations>
		<location path="${project_loc:argeo-commons-unstable}/sdk/a2/upstream/org.argeo.tp" type="Directory"/>
		<location path="${project_loc:argeo-commons-unstable}/sdk/a2/upstream/org.argeo.tp.apache" type="Directory"/>
		<location path="${project_loc:argeo-commons-unstable}/sdk/a2/upstream/org.argeo.tp.apache.commons" type="Directory"/>
		<location path="${project_loc:argeo-commons-unstable}/sdk/a2/upstream/org.argeo.tp.apache.felix" type="Directory"/>
		<location path="${project_loc:argeo-commons-unstable}/sdk/a2/upstream/org.argeo.tp.apache.jackrabbit" type="Directory"/>
		<location path="${project_loc:argeo-commons-unstable}/sdk/a2/upstream/org.argeo.tp.bouncycastle" type="Directory"/>
		<location path="${project_loc:argeo-commons-unstable}/sdk/a2/upstream/org.argeo.tp.equinox" type="Directory"/>
		<location path="${project_loc:argeo-commons-unstable}/sdk/a2/upstream/org.argeo.tp.jackson" type="Directory"/>
		<location path="${project_loc:argeo-commons-unstable}/sdk/a2/upstream/org.argeo.tp.javax" type="Directory"/>
		<location path="${project_loc:argeo-commons-unstable}/sdk/a2/upstream/org.argeo.tp.jetty" type="Directory"/>
		<location path="${project_loc:argeo-commons-unstable}/sdk/a2/upstream/org.argeo.tp.misc" type="Directory"/>
		<location path="${project_loc:argeo-commons-unstable}/sdk/a2/upstream/org.argeo.tp.rap.e4" type="Directory"/>
		<location path="${project_loc:argeo-commons-unstable}/sdk/a2/upstream/org.argeo.tp.sdk" type="Directory"/>
	</locations>
</target>