<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Layers"
            icon="icons/layer_folder.gif"
            class="org.argeo.eclipse.spring.SpringExtensionFactory"
            id="org.argeo.gis.ui.layersView">
      </view>
      <view
            name="GIS Data"
            icon="icons/gis_add_data.gif"
            class="org.argeo.eclipse.spring.SpringExtensionFactory"
            id="org.argeo.gis.ui.featureSourcesView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            id="org.argeo.gis.ui.defaultMapEditor"
      		class="org.argeo.eclipse.spring.SpringExtensionFactory"
            default="true"
            icon="icons/earth_edit.gif"
            name="Map Editor">
      </editor>
   </extension>
   	<extension
         point="org.eclipse.ui.commands">
		<command
            defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
            id="org.argeo.gis.ui.newMap"
            name="New Map">
    	</command>
		<command
            defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
            id="org.argeo.gis.ui.addFeatureSources"
            name="Add Feature Sources">
    	</command>
    </extension>
	<extension
         point="org.eclipse.ui.menus">
		<menuContribution
                locationURI="toolbar:org.argeo.gis.ui.layersView">
             <command
                  commandId="org.argeo.gis.ui.newMap"
                  disabledIcon="icons/sample.gif"
                  icon="icons/earth_edit.gif"
                  label="New Map"
                  style="push"
                  tooltip="New Map">
            </command>
             <command
                  commandId="org.argeo.gis.ui.addFeatureSources"
                  disabledIcon="icons/sample.gif"
                  icon="icons/earth_edit.gif"
                  label="Add Feature Sources"
                  style="push"
                  tooltip="Add Feature Sources">
            </command>
        </menuContribution>
	</extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.argeo.gis.ui.GisPerspective"
            icon="icons/gis.gif"
            id="org.argeo.gis.ui.perspective"
            name="GIS">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            id="org.argeo.gis.ui.defaultMapEditor"
      		class="org.argeo.eclipse.spring.SpringExtensionFactory"
            default="true"
            icon="icons/earth_edit.gif"
            name="Map Editor">
      </editor>
   </extension>

</plugin>
