[Unit]
Description=Argeo node %I
After=network-online.target
Wants=postgresql.service

[Service]
Type=simple

User=daemon
Group=daemon

StateDirectory=argeo.d/%I
LogsDirectory=argeo.d/%I
ConfigurationDirectory=argeo.d/%I
CacheDirectory=argeo.d/%I
WorkingDirectory=/var/lib/argeo.d/%I

ExecStart=java \
-Dosgi.configuration.cascaded=true \
-Dosgi.sharedConfiguration.area=/etc/argeo.d/%I/ \
-Dosgi.sharedConfiguration.area.readOnly=true \
-Dosgi.configuration.area=${STATE_DIRECTORY}/state/ \
-Dosgi.instance.area=${STATE_DIRECTORY}/data/ \
-Dargeo.node.repo.indexesBase=${CACHE_DIRECTORY}/indexes \
-Declipse.ignoreApp=true \
-Dosgi.noShutdown=true \
-Dorg.eclipse.equinox.http.jetty.autostart=false \
@/etc/argeo.d/jvm.args \
@${CONFIGURATION_DIRECTORY}/jvm.args \
@/usr/share/argeo/jvm.args

# Exit codes of the JVM when SIGTERM or SIGINT have been caught:
SuccessExitStatus=143 130

CPUAccounting=true
MemoryAccounting=true
TasksAccounting=true
IOAccounting=true
IPAccounting=true

[Install]
WantedBy=multi-user.target
