<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!-- Perspectives -->
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.argeo.demo.i18n.I18nDemoPerspective"
            icon="icons/i18n.gif"
            id="org.argeo.demo.i18n.perspective"
            name="%I18nDemoPerspective_Name">
      </perspective>
   </extension>
   <!-- Views --> 
   <extension
         point="org.eclipse.ui.views">
	   <view
          class="org.argeo.eclipse.spring.SpringExtensionFactory"
          icon="icons/browser.gif"
          id="org.argeo.demo.i18n.simpleTreeView"
          name="%SimpleTreeView_Name">
	   </view>
   </extension>
   <!-- Editors --> 
   <extension
           point="org.eclipse.ui.editors">
	     <editor
	          class="org.argeo.eclipse.spring.SpringExtensionFactory"
              id="org.argeo.demo.i18n.simpleMultitabEditor"
              name="%SimpleMultitabEditor_Name"
              icon="icons/i18n.gif"
              default="false">
        </editor>
     </extension>
   	<!-- Commands --> 
   	<extension
         point="org.eclipse.ui.commands">
		<command
			defaultHandler="org.argeo.demo.i18n.commands.OpenDialog"
			id="org.argeo.demo.i18n.openDialog"
			name="This name should not be displayed - check plugin.xml">
		</command>   
    </extension>

    <!-- Menus --> 
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:org.argeo.demo.i18n.simpleTreeView">
			<command
				commandId="org.argeo.demo.i18n.openDialog"
				style="push"
				label="%OpenDialog_Label">
			</command>
		</menuContribution>
	</extension>
	
	<!-- Core expression definition --> 
	<extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="expression.onlyOneItemSelected">
         <with
               variable="activeMenuSelection">
            <count
                  value="1">
            </count>
         </with>
      </definition>
   </extension>
	<!-- Preferences --> 
	<extension
    	point="org.eclipse.ui.preferencePages">
		<page 
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			id="org.argeo.demo.i18n.localeSettingsPage"
			name="%LocaleSettingsPage_Title">
		</page>
	</extension>
	<!-- Activities -->	
	<extension
    	point="org.eclipse.ui.activities">
		<activity
			description="Only for admins"
			id="org.argeo.jcr.ui.explorer.adminActivity"
			name="Admin">
			<enabledWhen>
				<with variable="roles">
					<iterate ifEmpty="false" operator="or">
						<equals value="ROLE_ADMIN" />
					</iterate>
				</with>
			</enabledWhen>
		</activity>
        <!-- TODO: find a way to exclude everything -->
        <activityPatternBinding
              activityId="org.argeo.jcr.ui.explorer.adminActivity"
              isEqualityPattern="true"
              pattern="org.argeo.jcr.ui.explorer/org.argeo.jcr.ui.explorer.perspective">
        </activityPatternBinding>
	</extension>
</plugin>
