<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<import resource="osgi.xml" />
	<import resource="security-filters.xml" />

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="locations">
			<value>osgibundle:jackrabbit-webapp.properties</value>
		</property>
	</bean>

	<!-- The JCR sessions, optimised per web session. -->
	<bean id="scopedSessionProvider" init-method="init"
		destroy-method="destroy" class="org.argeo.jackrabbit.remote.ScopedSessionProvider"
		scope="session">
		<aop:scoped-proxy proxy-target-class="false" />
	</bean>

	<!-- The JCR sessions, one login per request. -->
	<bean id="openInViewSessionProvider" init-method="init"
		destroy-method="destroy" class="org.argeo.jackrabbit.remote.OpenInViewSessionProvider">
	</bean>

	<!-- <bean id="repositoryRegister" class="org.argeo.jcr.DefaultRepositoryRegister" 
		/> -->

</beans>