Composite.qa {
	background-color: gray;
	color: white;
}

Button[PUSH].qa {
	color: white;
	background-color: gray;
	padding: 0px;
	spacing: 0px;
	border: none;
}

Composite.support {
	background-color: red;
}

Label.support {
	background-color: red;
	color: white;
}
