<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- Security -->
   <extension
         id="defaultLoginDialog"
         name="Default Login Dialog"
         point="org.eclipse.equinox.security.callbackHandler">
      <callbackHandler
            class="org.argeo.security.ui.dialogs.DefaultLoginDialog">
      </callbackHandler>
   </extension>
   <extension
         point="org.eclipse.equinox.security.callbackHandlerMapping">
      <callbackHandlerMapping
            callbackHandlerId="org.argeo.security.ui.defaultLoginDialog"
            configName="SPRING">
      </callbackHandlerMapping>
   </extension>
   <extension
         point="org.eclipse.equinox.security.callbackHandlerMapping">
         <callbackHandlerMapping
            callbackHandlerId="org.argeo.security.ui.defaultLoginDialog"
            configName="UNIX">
      </callbackHandlerMapping>
   </extension>
   <extension
         point="org.eclipse.equinox.security.callbackHandlerMapping">
      <callbackHandlerMapping
            callbackHandlerId="org.argeo.security.ui.defaultLoginDialog"
            configName="SPRING_SECURITY_CONTEXT">
      </callbackHandlerMapping>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
            id="org.argeo.security.ui.openChangePasswordDialog"
            name="OpenChangePasswordDialog">
      </command>
    </extension>
     <extension
         point="org.eclipse.ui.menus">
        <menuContribution
                locationURI="menu:file?after=additions">
                <command
                      commandId="org.argeo.security.ui.openChangePasswordDialog"
                      icon="icons/password.gif"
                      label="Change password"
                      style="push"
                      tooltip="Change password">
                </command>
          </menuContribution>
  </extension>
  <extension
           point="org.eclipse.ui.services">
        <sourceProvider
              provider="org.argeo.security.ui.RolesSourceProvider">
           <variable
                 name="org.argeo.security.ui.rolesVariable"
                 priorityLevel="workbench">
           </variable>
        </sourceProvider>
     </extension>
 </plugin>
