<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- Security -->
   <extension
         id="defaultLoginDialog"
         name="Default Login Dialog"
         point="org.eclipse.equinox.security.callbackHandler">
      <callbackHandler
            class="org.argeo.security.ui.dialogs.DefaultLoginDialog">
      </callbackHandler>
   </extension>
   <extension point="org.eclipse.ui.services">
        <sourceProvider
              provider="org.argeo.security.ui.RolesSourceProvider">
           <variable
                 name="org.argeo.security.ui.rolesVariable"
                 priorityLevel="workbench">
           </variable>
        </sourceProvider>
     </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.argeo.security.ui.views.UserProfile"
            icon="icons/user.gif"
            id="org.argeo.security.ui.userProfile"
            name="Profile"
            restorable="true">
      </view>
      <view
            class="org.argeo.security.ui.views.LogView"
            id="org.argeo.security.ui.logView"
            name="Log"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.argeo.security.ui.UserHomePerspective"
            icon="icons/home.gif"
            id="org.argeo.security.ui.userHomePerspective"
            name="Home">
      </perspective>
   </extension>
 </plugin>
