<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="OSGi Explorer"
            class="org.argeo.osgi.ui.explorer.OsgiExplorerPerspective"
            id="org.argeo.osgi.ui.explorer.perspective"
            icon="icons/osgi_explorer.gif">
      </perspective>
   </extension>
    <extension point="org.eclipse.ui.perspectiveExtensions"> 
        <perspectiveExtension 
            targetID="org.argeo.osgi.ui.explorer.perspective"> 
            <view id="org.argeo.osgi.ui.explorer.modulesView" minimized="false"
             ratio="0.5" relationship="left" relative="org.eclipse.ui.editorss"/> 
            <view id="org.argeo.osgi.ui.explorer.bundlesView" minimized="false"
             relationship="stack" relative="org.argeo.osgi.ui.explorer.modulesView"/> 
        </perspectiveExtension> 
    </extension> 
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.argeo.osgi.ui.explorer.views.ModulesView"
            icon="icons/bundles.gif"
            id="org.argeo.osgi.ui.explorer.modulesView"
            name="Modules">
      </view>
      <view
            class="org.argeo.osgi.ui.explorer.views.BundlesView"
            icon="icons/bundles.gif"
            id="org.argeo.osgi.ui.explorer.bundlesView"
            name="Bundles">
      </view>
   </extension>
  <extension
           point="org.eclipse.ui.activities">
        <activity
              description="Only for admins"
              id="org.argeo.osgi.ui.explorer.adminActivity"
              name="Admin">
		  <enabledWhen>
		    <with variable="roles">
		      <iterate ifEmpty="false" operator="or">
		        <equals value="ROLE_ADMIN" />
		      </iterate>
		    </with>
		  </enabledWhen>
        </activity>
        <activityPatternBinding
              activityId="org.argeo.osgi.ui.explorer.adminActivity"
              isEqualityPattern="true"
              pattern="org.argeo.osgi.ui.explorer/org.argeo.osgi.ui.explorer.perspective">
        </activityPatternBinding>
     </extension>
</plugin>
