<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.argeo.security.ui.rap.SecureEntryPoint"
            id="org.argeo.security.ui.rap.secureEntryPoint"
            parameter="secureWebUi">
      </entrypoint>
   </extension>

	<extension
         point="org.eclipse.rap.ui.branding">
    	<branding
			id="org.argeo.security.ui.rap.branding"
            servletName="node"
            defaultEntrypointId="org.argeo.security.ui.rap.secureEntryPoint"
            title="Argeo Web UI"
            favicon="branding/favicon.ico"
            body="branding/default.htm">
      	</branding>
   	</extension>

   <extension
         point="org.eclipse.equinox.security.callbackHandlerMapping">
      <callbackHandlerMapping
            callbackHandlerId="org.argeo.security.ui.defaultLoginDialog"
            configName="SPRING">
      </callbackHandlerMapping>
   </extension>
   <extension
         point="org.eclipse.equinox.security.callbackHandlerMapping">
         <callbackHandlerMapping
            callbackHandlerId="org.argeo.security.ui.defaultLoginDialog"
            configName="NIX">
      </callbackHandlerMapping>
   </extension>
   <extension
         point="org.eclipse.equinox.security.callbackHandlerMapping">
      <callbackHandlerMapping
            callbackHandlerId="org.argeo.security.ui.defaultLoginDialog"
            configName="SPRING_SECURITY_CONTEXT">
      </callbackHandlerMapping>
   </extension>

</plugin>
