<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.argeo.security.ui.rap.SecureEntryPoint"
            id="org.argeo.security.ui.rap.secureEntryPoint"
            parameter="secureWebUi">
      </entrypoint>
   </extension>
   <extension
         id="secureWebapp"
         name="Argeo Secure Web App"
         point="org.eclipse.core.runtime.applications">
      <application cardinality="singleton-global"
         thread="main"
         visible="true">
         <run
               class="org.argeo.security.ui.rap.SecureEntryPoint">
         </run>
      </application>
   </extension>

</plugin>
