<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.argeo.security.ui.SecurityPerspective"
            icon="icons/security.gif"
            id="org.argeo.security.ui.securityPerspective"
            name="Security">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.argeo.eclipse.spring.SpringExtensionFactory"
            icon="icons/users.gif"
            id="org.argeo.security.ui.usersView"
            name="Users"
            restorable="false">
      </view>
      <view
            class="org.argeo.eclipse.spring.SpringExtensionFactory"
            id="org.argeo.security.ui.currentUserView"
            name="Current User"
            restorable="false">
      </view>
      <view
            class="org.argeo.eclipse.spring.SpringExtensionFactory"
            icon="icons/role.gif"
            id="org.argeo.security.ui.rolesView"
            name="Roles"
            restorable="false">
      </view>
   </extension>
   
   <!-- Security -->
   <extension
         id="defaultLoginDialog"
         name="Default Login Dialog"
         point="org.eclipse.equinox.security.callbackHandler">
      <callbackHandler
            class="org.argeo.security.ui.dialogs.DefaultLoginDialog">
      </callbackHandler>
   </extension>
   <extension
         point="org.eclipse.equinox.security.callbackHandlerMapping">
      <callbackHandlerMapping
            callbackHandlerId="org.argeo.security.ui.defaultLoginDialog"
            configName="SPRING">
      </callbackHandlerMapping>
   </extension>
   <extension
         point="org.eclipse.equinox.security.callbackHandlerMapping">
         <callbackHandlerMapping
            callbackHandlerId="org.argeo.security.ui.defaultLoginDialog"
            configName="UNIX">
      </callbackHandlerMapping>
   </extension>
   <extension
         point="org.eclipse.equinox.security.callbackHandlerMapping">
      <callbackHandlerMapping
            callbackHandlerId="org.argeo.security.ui.defaultLoginDialog"
            configName="SPRING_SECURITY_CONTEXT">
      </callbackHandlerMapping>
   </extension>
   <extension
           point="org.eclipse.ui.editors">
	        <editor
	          class="org.argeo.eclipse.spring.SpringExtensionFactory"
              id="org.argeo.security.ui.argeoUserEditor"
              name="User"
              icon="icons/user.gif"
              default="false">
        </editor>
     </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
            id="org.argeo.security.ui.openArgeoUserEditor"
            name="OpenArgeoUserEditor">
   			<commandParameter
         		id="org.argeo.security.ui.username"
         		name="Username">
  	 		</commandParameter>
      </command>
      <command
            defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
            id="org.argeo.security.ui.saveArgeoUser"
            name="SaveArgeoUser">
      </command>
      <command
            defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
            id="org.argeo.security.ui.addRole"
            name="AddRole">
      </command>
      <command
            defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
            id="org.argeo.security.ui.openChangePasswordDialog"
            name="OpenChangePasswordDialog">
      </command>
    </extension>
     <extension
         point="org.eclipse.ui.menus">
      	<menuContribution
            locationURI="toolbar:org.argeo.security.ui.rolesView">
            <command
                  commandId="org.argeo.security.ui.addRole"
                  icon="icons/add.gif"
                  label="Add Role"
                  tooltip="Add new role">
            </command>
        </menuContribution>
        <menuContribution
                allPopups="false"
                locationURI="menu:file?after=additions">
                <command
                      commandId="org.argeo.security.ui.openChangePasswordDialog"
                      disabledIcon="icons/password.gif"
                      icon="icons/password.gif"
                      label="Change password"
                      style="push"
                      tooltip="Change password">
                </command>
          </menuContribution>
  </extension>
 </plugin>
