<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<!-- We use the product to define some of the product preferences 
	see http://dev.eclipse.org/viewcvs/viewvc.cgi/platform-ui-home/rcp/faq.html?revision=1.6#customPrefs --> 
	<extension
         id="org.argeo.security.ui.product"
         point="org.eclipse.core.runtime.products">
      <product
            name="ArgeoProduct" application="org.argeo.security.ui.rcp.secureUi">
          <property
               name="appName"
               value="Secure UI">
         </property>
 	     <property
               name="preferenceCustomization"
               value="plugin_customization.ini"/>
      </product>
   </extension>  

   <extension
         id="secureUi"
         name="Argeo Secure UI"
         point="org.eclipse.core.runtime.applications">
      <application cardinality="singleton-global"
         thread="main"
         visible="true">
         <run
               class="org.argeo.eclipse.spring.SpringExtensionFactory">
         </run>
      </application>
   </extension>
</plugin>
