<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.argeo.eclipse.ui.jcr.explorer.JcrExplorerPerspective"
            icon="icons/nodes.gif"
            id="org.argeo.jcr.ui.explorer.perspective"
            name="JCR Explorer">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
	   <view
          class="org.argeo.eclipse.spring.SpringExtensionFactory"
          icon="icons/browser.gif"
          id="org.argeo.jcr.ui.explorer.browserView"
          name="JCR Browser">
	   </view>
   </extension>
   <extension
           point="org.eclipse.ui.editors">
	     <editor
	          class="org.argeo.eclipse.spring.SpringExtensionFactory"
              id="org.argeo.jcr.ui.explorer.genericJcrQueryEditor"
              name="JCR Query"
              icon="icons/query.png"
              default="false">
        </editor>
     </extension>
   	<extension
         point="org.eclipse.ui.commands">
		<command
            defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
            id="org.argeo.jcr.ui.explorer.openGenericJcrQueryEditor"
            name="New generic JCR query">
    	</command>
	  <command
	        defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
	        id="org.argeo.jcr.ui.explorer.addFileFolder"
           icon="icons/add.gif"
	        name="Add file folder...">
	  </command>
	  <command
	        defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
	        id="org.argeo.jcr.ui.explorer.refresh"
	        icon="icons/refresh.png"
	        name="Refresh">
	  </command>
	  <command
	        defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
	        id="org.argeo.jcr.ui.explorer.deleteNode"
	        name="Delete node">
	  </command>
	  <command
	        defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
	        id="org.argeo.jcr.ui.explorer.importFileSystem"
	        name="Import files...">
	  </command>
	  <command
	        defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
	        id="org.argeo.jcr.ui.explorer.openFile"
	        name="Open current file">
	  </command>
    </extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
                locationURI="menu:org.argeo.jcr.ui.explorer.browserView">
                <command
                      commandId="org.argeo.jcr.ui.explorer.openGenericJcrQueryEditor"
                      icon="icons/query.png"
                      style="push">
                </command>
			     <command
			           commandId="org.argeo.jcr.ui.explorer.initUserHome"
			           style="push"
			           tooltip="Initializes the user specific area within this node">
			     </command>
          </menuContribution>
  <menuContribution
        locationURI="popup:org.argeo.jcr.ui.explorer.browserView">
     <command
           commandId="org.argeo.jcr.ui.explorer.refresh"
           icon="icons/refresh.png"
           style="push">
     </command>
     <command
           commandId="org.argeo.jcr.ui.explorer.addFileFolder"
           icon="icons/add.gif"
           style="push">
     </command>
     <command
           commandId="org.argeo.jcr.ui.explorer.deleteNode"
           icon="icons/remove.gif"
           style="push">
     </command>
     <command
           commandId="org.argeo.jcr.ui.explorer.importFileSystem"
           icon="icons/import_fs.png"
           style="push"
           tooltip="Import files from the files sytem to the repository">
     </command>
  </menuContribution>
	</extension>
  <extension
           point="org.eclipse.ui.activities">
        <activity
              description="Only for admins"
              id="org.argeo.jcr.ui.explorer.adminActivity"
              name="Admin">
		  <enabledWhen>
		    <with variable="roles">
		      <iterate ifEmpty="false" operator="or">
		        <equals value="ROLE_ADMIN" />
		      </iterate>
		    </with>
		  </enabledWhen>
        </activity>
        <!-- TODO: find a way to exclude evrything -->
        <activityPatternBinding
              activityId="org.argeo.jcr.ui.explorer.adminActivity"
              isEqualityPattern="true"
              pattern="org.argeo.jcr.ui.explorer/org.argeo.jcr.ui.explorer.perspective">
        </activityPatternBinding>
     </extension>
</plugin>
